<h1>My tasks</h1>
<ul>
<% @tasks.each do |task| %>
  <li>
  <% if task.completed %>
     <input type="checkbox"  checked disabled="true">
       <%= link_to  "#{task.title}" ,show_path(task.id)%>
    <% else %>
    <input type="checkbox" disabled="true" >
     <%= link_to  "#{task.title}" ,show_path(task.id)%>
  </li>
<% end %>

<% end %>
 <%= link_to  "Add a new task" ,new_path%>
</ul>





